.rightzan{
	float:right;
}
.mui-card-footer a .mui-icon-extra {
				margin-top: 12px;
				color: #8F8F94;
}
#bnt div span{
	display: inline-block;
	float:left;
	width:50%;
	height:30px;
	line-height: 30px;
	text-align: center;
}
